/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/* generici */

.title{
    text-align: center;
}

h1{
    font-size: 18px;
    margin: 20px 0 20px 0;  
}

p{
    margin-bottom: 20px;
    line-height: 2;
}

.col{
    max-width: calc(100% / 3);
}

img{
    max-width: 100%;
}



/* primo bonus */

.list{
    list-style-type: none;
}

li{
    margin-top: 10px;
}

/* secondo bonus */

body{
    background-color: rgb(235, 234, 234);

}

main{
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
}


figcaption{
    background-color: white;
}

.row {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid black;
}

.col {
    padding: 0 10px;
}